.navbar{
    background-color: #698996 !important;
  }
  
  .navbarbutton{
    padding-left: 15px ;
    text-decoration: none;
    color: black;
  
  }
  .navbarbutton:hover{
    color:rgb(250, 243, 243);
  }
  
 
  
  .card-img-top{
    background-color: black;
  }
  