.navbar{
  background-color: grey !important;
}

.navbarbutton{
  padding-left: 20px ;
  text-decoration: none;
  color: black;

}
.navbarbutton:hover{
  color:rgb(175, 170, 170);
}

.logo{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
